.clist-list-wrap{
	background: #fff;
	padding: 30px 20px;
}
.clist-list ul li{
	background: #F9F9F9;
}
.clist-list ul{}
.clist-list ul li{
	border: 1px solid #919299;
	margin-bottom: 30px;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.clist-list ul li > div{
	float: left;
	padding: 0 20px;
}
.clist-list ul li > div.cl-btn {
    float: right;
    margin-left: auto;
}
.cl-profile-in img{
	margin-right: 15px;
	max-width: 50px;
}
.cl-company,
.cl-status{
	font-weight: 500;
	color: #369694;
	border-left: 1px solid #505050;
}
.cl-profile-in strong{
	color: #369694;
	font-weight: normal;
	font-weight: 500;
}
.cl-company span,
.cl-status span{
	color: #545454;
}
.cl-btn a{
	background: #CCB892;
	height: 50px;
	line-height: 50px;
	width: 150px;
	color: #fff;
	font-weight: 800;
	text-align: center;
	display: inline-block;
}
.cl-btn a:hover{
	background: #ccaf78;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.clist-list ul li > div.cl-btn {
	    float: right;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	}
	.clist-list ul li > div{
		float: none;
		display: block;
	}
	.clist-list ul li{
		display: block;
		text-align: center;
	}
	.clist-list ul li > div.cl-btn{
		float: none;
	}
	.cl-company, .cl-status{
		border: none;
	}
	.cl-profile-in{
		padding-bottom: 20px;
	}
	.cl-btn a {
	    background: #CCB892;
	    height: 45px;
	    line-height: 45px;
	    width: 150px;
	    color: #fff;
	    font-weight: 800;
	    text-align: center;
	    font-size: 17px;
	    display: inline-block;
	}
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}