.consultation-page-cntlr{
	padding: 55px 0 25px;
}
.cp-entry-hdr{
	padding-bottom: 30px;
}
.cp-entry-hdr-title{
	color: #fff;
	font-size: 44px;
}

.consultation-item-hdr{
	background: #2b6f6e;
	color: #fff;
	padding: 12px 12px 0 0;
}
.consultation-item-hdr ul{
	display: flex;
	justify-content: center;
}
.consultation-item-hdr ul li{
	width: 33.3333%;
	padding-bottom: 12px;
}
.consultation-item-hdr ul li:nth-child(1){
	width: 24%;
}
.consultation-item-hdr ul li:nth-child(2){
	width: 49%;
	text-align: center;
}
.consultation-item-hdr ul li:nth-child(3){
	width: 27%;
}
.consultation-item-hdr ul li div{
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.consultation-item-hdr ul li div label{
	font-weight: normal;
	margin: 0 5px 0 0;
}
.consultation-item-hdr ul li div strong{
	font-weight: 700;
}

.consultation-item-con-cntlr{
	background: #fff;
	padding: 0; 
}
.cicc-hdr {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    text-align: center;
    background: #F9F9F9;
}
.cicc-hdr strong{
	padding: 0 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.cicc-hdr strong span{
	font-weight: 600;
	color: #000;
	text-transform: capitalize;
}
.cicc-pdfs {
    padding: 25px 50px;
}
.cicc-hdr ul li{
	float: left;
	width: 33.3333%;
	padding: 0 20px 30px 0;
}
.cicc-hdr-item i{
	width: 42px;
	height: 42px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
}
.cicc-hdr-item div{
	display: flex;
	align-items: center;
	margin-top: -10px;
}
.cicc-hdr-item i img{
	width: 100%;
	height: 100%;
}
.cicc-hdr-item label{
	font-size: 20px;
	line-height: 1;
	color: #545454;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}

.cicc-hdr-item strong{
	font-size: 20px;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #545454;
	display: inline-block;
	vertical-align: baseline;
}
.cicc-pdfs{
	border-top: 2px solid #eeeeee;
}
.cicc-pdfs ul{
	margin: 0 -50px;
}
.cicc-pdfs ul li{
	float: left;
	width: 50%;
	padding: 15px 45px 20px;
	position: relative;
}
.cicc-pdfs ul li:after{
	content: "";
	position: absolute;
	top: 15px;
	bottom: 0;
	right: 0;
	width: 1px;
	background: #DDDDDD;

}
.cicc-pdfs ul li:nth-child(3n+3):after{
	content: none;
}

.cicc-pdf-col{
	position: relative;
	padding: 15px 0 0 0;
	display: flex;
}
.cicc-pdf-col-des{
	float: left;
	padding-top: 10px;
}
.cicc-pdf-col-lft{
	float: left;
	max-width: 115px;
	width: 100%;
	padding-right: 15px;
	text-align: center;
}
.cicc-pdf-col-lft i{
	margin-bottom: 10px;
	display: block;
}
.ciccpcd-title{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	display: block;
	margin: 0 0 15px 0;
	color: #545454;
}

.cicc-pdf-col-des p{
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
}

.cicc-download-btn a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border: 1px solid #DDDDDD;
	max-width: 97px;
	width: 100%;
	height: 27px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	background: #CCB892;
}
.cicc-download-btn a:hover{
	background: transparent;
	color: #CCB892;
	border-color: #CCB892;
}
.cicc-pdf-col-lft span{
	display: block;
	font-size: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #919299;

}
.consultation-item-con-cntlr{
	padding-bottom: 25px;
}
.consultation-item-close{
	background: #43bab6;
	color: #fff;
	padding: 15px 0 15px;
	position: relative;
	cursor: pointer;
	color: #fff;
	text-align: center;
}
.consultation-item-close:before{
	content: "";
	position: absolute;
	background: url(../images/angle-up.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100px;
	height: 20px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 5;
	top: -20px;
}


.consultation-item-open{
	background: #CCB892;
	color: #fff;
	padding: 15px 0 15px;
	position: relative;
	cursor: pointer;
	text-align: center;
}
/*.consultation-item-open:before{
	content: "";
	position: absolute;
	background: url(../images/angle-white-down.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100px;
	height: 20px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 5;
	bottom: -20px;
}*/

.consultation-item-open strong,
.consultation-item-close strong{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;

}
.consultation-item{
	margin-bottom: 50px;
}
.consultation-item-con-cntlr,
.consultation-item-close{
	display: none;
}
.consultation-item-expend .consultation-item-open{
	display: none;
}
.consultation-item-expend .consultation-item-close{
	display: block;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.consultation-item-hdr ul li div label{
		display: block;
	}
	.consultation-item-hdr ul li div{
		font-size: 16px;
	}
}

@media(max-width: 767px){
	.cp-entry-hdr-title{
		font-size: 40px;
	}
	.cicc-pdfs ul li{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cicc-hdr strong{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}

@media(max-width: 575px){
	.consultation-item-hdr ul{
		flex-wrap: wrap;
	}
	.consultation-item-hdr ul li{
		display: block;
		width: 100%!important;
		text-align: center;
	}
	.consultation-item-hdr ul li div{
		padding-left: 0;
		padding-right: 0;
	}
	.consultation-item-hdr ul li div label{
		display: inline-block;
		vertical-align: baseline;
	}
	.consultation-item-hdr{
		padding-left: 10px;
		padding-right: 10px;
	}
	.cp-entry-hdr-title{
		font-size: 35px;
	}
	.cicc-download-btn a{
		font-size: 9px;
	}
	.consultation-item-hdr ul li div{
		font-size: 15px;
	}
	.cp-entry-hdr {
	    padding-bottom: 20px;
	}

}

@media(max-width: 479px){
	.cp-entry-hdr-title{
		font-size: 30px;
	}

}

@media(max-width: 359px){

}