.edv-clb-page-cntlr{
	padding: 64px 0 80px 0;
}
.edv-clb-title{
	font-size: 44px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 65px;
}
.edv-clb-bnr{
	position: relative;
	background: #fff;
}
.edv-clb-bnr-img{
	width: 50%;
    float: right;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;

}
.edv-clb-bnr-desc{
	width: 50%;
	float: left;
}
.edv-clb-bnr-desc{
	padding: 60px 50px 45px 40px;
	
	position: relative;
}
.edv-clb-bnr-desc p{
	line-height: 44px;
	margin-bottom: 25px;
}
.edv-clb-bnr-desc-btn{

}
.edv-clb-bnr-desc-btn a{
	display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #CCB892;
    max-width: 250px;
    width: 100%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    background: #CCB892;
    padding: 4px 0 0 0;
}
.edv-clb-bnr-desc-btn a:hover{
	background: transparent;
	color: #CCB892;
}
.ecb-desc-rt-icon{
	position: absolute;
	top: 38px;
	right: -39px;
	z-index: 11;
}
.ecb-desc-btm-icon{
	position: absolute;
	left: 55px;
	bottom: -38px;
	z-index: 11;
}
.ed-services-inr{
	padding: 80px 40px 85px 40px;
	background: #2b6f6e;
}
.ed-services-title{
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 500;
    color: #fff;
    margin-bottom: 45px;
}
.ed-services-inr{

}
.ed-services-inr > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -15px;
}
.ed-services-inr > ul > li{
	padding: 0 15px;
	width: 16.66%;
	margin-bottom: 30px;
}
.ed-services-inr > ul > li:nth-child(6n+1){
	clear: left;
}
.ed-services-item{
	background: #43bab6;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.ed-services-item:hover .ed-services-item-img{
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.ed-services-item-img{
	display: flex;
	align-items: center;
	min-height: 150px;
	transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.ed-services-item-img img{
	max-height: 80px;
}
.edv-normal-cn{
	background: #fff;
	padding: 50px 40px;
}
.edv-normal-cn p{
    line-height: 40px;
    margin-bottom: 25px;	
}

/*responsive*/
@media(max-width: 1199px){

	.edv-clb-bnr-desc{
		padding: 40px 35px 40px 35px;
	}
	.edv-clb-bnr-desc p{
		line-height: 38px;
	}
	.ed-services-inr{
		padding: 70px 25px 60px 25px;
	}
	.ed-services-inr > ul > li{
		width: 25%;
	}
	.ed-services-inr > ul > li:nth-child(6n+1){
		clear: initial;
	}
	.ed-services-inr > ul > li:nth-child(4n+1){
		clear: left;
	}
}
@media(max-width: 991px){
	.edv-clb-title {
		font-size: 40px;
		margin-bottom: 45px;
	}
	.edv-clb-bnr-desc{
		padding: 30px 20px 30px 20px;
	}
	.edv-clb-bnr-desc p{
		line-height: 34px;
	}
	.ed-services-inr{
		padding: 60px 25px 40px 25px;
	}
	.ed-services-inr > ul > li{
		width: 33.33%;
	}
	.ed-services-inr > ul > li:nth-child(4n+1){
		clear: initial;
	}
	.ed-services-inr > ul > li:nth-child(3n+1){
		clear: left;
	}
	.ed-services-title{
		margin-bottom: 30px;
	}
}
@media(max-width: 767px){
	.edv-clb-page-cntlr{
		padding: 55px 0 65px 0;
	}
	.edv-clb-title {
		font-size: 35px;
		margin-bottom: 35px;
	}
	.edv-clb-bnr{
		position: initial;
	}
	.edv-clb-bnr-img{
		width: 100%;
		float: initial;
		position: initial;
		min-height: 301px;
		display: block;
	}
	.edv-clb-bnr-desc{
		float: initial;
		width: 100%;
	}
	.ecb-desc-rt-icon{
		display: none;
	}
	.ecb-desc-btm-icon{
		left: 50%;
		transform: translateX(-50%);
	}
	.ed-services-title {
		margin-bottom: 25px;
		font-size: 32px;
	}
	.ed-services-inr{
		padding: 60px 25px 20px 25px;
	}
	.ed-services-inr > ul > li{
		width: 50%;
	}
	.ed-services-inr > ul > li:nth-child(3n+1){
		clear: initial;
	}
	.ed-services-inr > ul > li:nth-child(2n+1){
		clear: left;
	}
}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.edv-clb-page-cntlr{
		padding: 45px 0;
	}
	.edv-clb-title {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 25px;
	}
	.edv-clb-bnr-img{
		min-height: 250px;
	}
	.edv-clb-bnr-desc {
		padding: 20px 0px 30px 15px;
	}
	.edv-clb-bnr-desc p{
		line-height: 30px;
	}
	.edv-clb-bnr-desc-btn a{
		max-width: 200px;
	}
	.ed-services-title {
		margin-bottom: 22px;
		font-size: 28px;
		text-align: center;
	}
	.ed-services-inr{
		padding: 60px 0 10px 0;
	}
	.ed-services-inr > ul{
		margin: 0;
	}
	.ed-services-inr > ul > li{
		width: 100%;
		max-width: 300px;
		padding: 0;
		margin-bottom: 20px;
	}
	.ed-services-inr > ul > li:nth-child(2n+1){
		clear: initial;
	}
}
@media(max-width: 479px){

}
@media(max-width: 359px){

}