.footer-wrp{
	padding: 35px 0 25px;
	font-size: 15px;
	font-weight: 300;
	color: #545454;
}
.ftr-cols{
	display: flex;
	align-items: center;
}
.ftr-copyright p{
	margin: 0;
	font-weight: 300;
}
.ftr-copyright p strong{
	font-weight: 400;
}
.ftr-menu{
	margin-left: auto;
}
.ftr-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding: 0 5px;
}
.ftr-menu ul li:not(:last-child):after{
	content: "";
	width: 1px;
	height: 14px;
	background: #5e5e5e;
	position: absolute;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #545454;
	font-weight: normal;
}
.ftr-menu ul li a:hover{
	color: #2C706E;
}



@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.ftr-cols{
		flex-wrap: wrap;
	}
	.ftr-copyright{
		padding-bottom: 15px;
	}
	.ftr-copyright,
	.ftr-menu{
		width: 100%;
		text-align: center;
	}
	

	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){
	.ftr-menu ul{
		margin-left: -7px;
		margin-right: -7px;
	}
	.ftr-menu ul li a{
		font-size: 14px;
	}

}

@media(max-width: 359px){

}