.inbox-page-sec{
	padding: 50px 0 70px;
}
.inbox-page-sec-lft{
	margin-bottom: 50px;
}
.inbox-page-sec-rgt{
	min-height: 100px;
	background: #fff;
}

.msg-avater-info{
	background: #fff;
	padding: 55px 30px 30px 20px;
}

.msg-avater-info-inr{
	position: relative;
	padding: 0 0 0 95px;
}

.msg-avater-pro{
	max-width: 65px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.msg-avater-pro img{
	width: 100%;
	border-radius: 100%;
	border: 1px solid #43BAB4;
}

.msg-avater-des > strong{
	display: block;
	color: #545454;
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.msg-avater-des div{
	font-size: 15px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #191919;
}

.msg-avater-des p{
	line-height: 1.5;
	color: #919299;
	font-size: 18px;
}

.userChatBox {
    max-width: 600px;
    margin: 0 auto;
}
.get_messages{
    width: 100%;
    min-height: 150px;
    padding-left: 0px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #545454;
    font-weight: 600;
    background: #FFFFFF;
    border: 0px solid transparent;
    border-radius: 0;
    position: relative;
}
#get_messages{
	height: 400px;
	overflow-y:scroll;
}
.message-top {
    background: #2B6F6E;
    color: #fff;
    padding-bottom: 10px;
}
.recever-img {
    height: 50px;
    width: 50px;
    display: inline-flex;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 50px;
    vertical-align: middle;
}
span.chatavatar {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: #E1E1E1;
    vertical-align: sub;
    border-radius: 50px;
    margin-right: 10px;
    border: 1px solid #369694;
}
.message-sender {
    width: 100%;
    text-align: right;
    padding: 5px 0;
}

.message-sender span.sender {
    background: #F7F7F7;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #858585;
}
.message-receiver {
    width: 100%;
    text-align: left;
    padding: 3px 0;
}
.message-receiver span.receiver {
    background: #369694;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    vertical-align: super;
}
.inputField.message-box{
	position: relative;
}
.inputField.message-box input[type=text] {
    height: 50px;
    padding-left: 10px;
    padding-right: 23%;
    color: #545454;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 0;
}
.inputField.message-box input.send-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 22% !important;
    border-radius: 0;
}

@media(max-width: 991px){
	.msg-avater-info-inr{
		padding-left: 80px;
	}
	.msg-avater-info {
	    padding: 45px 25px 20px 20px;
	}
}


@media(max-width: 479px){
	.msg-avater-pro{
		position: static;
		margin-bottom: 15px;
	}
	.msg-avater-info-inr{
		padding-left: 0;

	}
}
