.login-page-cntlr{
	padding-top: 170px;
	padding-bottom: 245px;
}
.login-form-sec{
	
}
.login-form-cntlr{
	position: relative;
	padding: 25px;
	max-width: 500px;
	width: 100%;
	margin: auto;
}
.login-form{
	background: #fff;
	padding: 80px 45px 50px 45px;
}
.login-top-rt-icon{
	position: absolute;
	top: 10px;
	right: 10px;
}
.login-btm-lft-icon{
	position: absolute;
	bottom: 10px;
	left: 10px;	
}
.form-title{
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	color: #545454;
	margin-bottom: 34px;
}
.input-row{
	width: 100%;
	margin-bottom: 20px;
	position: relative;

}
.input-row i{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.input-row input[type="text"],
.input-row input[type="email"],
.input-row input[type="password"],
.input-row input[type="submit"]{
	width: 100%;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	padding: 12px 40px 12px 20px; 
	border-radius: 5px;
	font-size: 17px;
	font-weight: 600;
	color: #545454;
}
.input-row input[type="submit"]{
	padding: 12px 20px 12px 20px; 
}
.input-row input[type="text"]:focus,
.input-row input[type="email"]:focus,
.input-row input[type="password"]:focus{
	border-color: #707070;
}
.input-row input::placeholder,
.input-row input::placeholder,
.input-row input:-ms-input-placeholder,
.input-row input:-ms-input-placeholder,
.input-row input::-ms-input-placeholder,
.input-row input::-ms-input-placeholder,
.input-row input::-webkit-input-placeholder,
.input-row input::-webkit-input-placeholder{
  color: #545454;
  opacity: 1;
}
.input-row input[type="submit"]{
	background: #CCB892;
	border-color: #CCB892;
	font-size: 21px;
	color: #EDEDEC;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}
.input-row input[type="submit"]:hover{
	background: #369694;
	border-color: #369694;
}
.alert-msg{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
/*.success,
.unsuccess{
	display: none;
}*/
.success p{
	color: #28a745;
}
.unsuccess p{
	color: #dc3545;
}
.success p,
.unsuccess p{
	margin-bottom: 10px;
	text-transform: capitalize;
}



.forget-pass{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;

}
.forget-pass p{
	margin-bottom: 0;
	font-size: 17px;
	color: #7D7D77;
	text-transform: capitalize;
}
.forget-pass p > a{
	display: inline-block;
	color: #369694;
}
.forget-pass p > a:hover{
	color: #CCB892;
}

/*responsive*/
@media(max-width: 1199px){
	.login-page{
		min-height: initial;
	}
	.login-page-cntlr{
		padding: 150px 0;
	}
}
@media(max-width: 991px){
	.login-page-cntlr{
		padding: 130px 0;
	}
}
@media(max-width: 767px){
	.login-page-cntlr{
		padding: 90px 0;
	}
}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.login-page-cntlr{
		padding: 60px 0;
	}
	.login-form {
		background: #fff;
		padding: 60px 30px 35px 30px;
	}
	.form-title{
		margin-bottom: 25px;
	}
	.input-row{
		margin-bottom: 18px;
	}
	.input-row input[type="text"],
	.input-row input[type="password"],
	.input-row input[type="submit"]{
		font-size: 16px;
	}
	.forget-pass p{
		font-size: 16px;
	}
	.success p,
	.unsuccess p{
		font-size: 15px;
		margin-bottom: 6px;
	}
}
@media(max-width: 479px){
	.login-page-cntlr{
		padding: 40px 0;
	}
	.login-form {
		background: #fff;
		padding: 40px 15px 30px 15px;
	}
	.form-title{
		margin-bottom: 15px;
	}
	.input-row{
		margin-bottom: 15px;
	}
	.input-row input[type="text"],
	.input-row input[type="password"]{
		font-size: 14px;
		padding: 9px 40px 9px 15px;
	}
	.input-row input[type="submit"]{
		padding: 9px 15px 9px 15px;

	}
	.forget-pass{
		padding-top: 0;
	}
	.forget-pass p{
		font-size: 14px;
	}
	.success p,
	.unsuccess p{
		font-size: 14px;
		margin-bottom: 6px;
	}

}
@media(max-width: 359px){

}