.requests-page-cntlr{
	padding: 55px 0 45px;
}
.requests-sec-lft{
	float: left;
	width: 51.3157%;
	padding-right: 28px;
}
.requests-sec-rgt{
	float: right;
	width:  48.6842%;
}
.rseh-title{
	display: block;
	font-size: 44px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.requests-sec-lft-des{
	background: #FFFFFF;
	padding: 40px 22px 25px 20px;
}
.rsld-title{
	display: block;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #545454;
}
.requests-sec-lft-des p{
	line-height: 1.5;
	margin-bottom: 35px;
}
.rsld-tel{
	padding-left: 82px;
	position: relative;
}
.rsld-tel i{
	position: absolute;
	top: 0;
	left: 0;
}
.rsld-tel a{
	display: block;
	font-size: 22px;
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
	color: #369694;
}
.rsld-tel a:hover{
	color: #CCB892;
}

.requests-sec-form{
	background: #FFFFFF;
	padding: 28px 30px 35px;
}

.inputField{
	width: 100%;
	margin-bottom: 20px;
}
.inputField input{
	width: 100%;
}
.inputField input[type=text]{
	height: 50px;
	padding-left: 10px;
	color: #545454;
	font-size: 17px;
	font-weight: 600;
	text-transform: capitalize;
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
}
.inputField .cp-select select{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	font-size: 17px;
	color: #545454;
	font-weight: 600;
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	position: relative;
}
.cp-select .filter-option{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	font-size: 17px;
	color: #545454;
	font-weight: 600;
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
}
.cp-select .dropdown-menu ul li{
	padding: 0;
}
.cp-select .dropdown-menu ul li::before{
	content: none;
}
.inputField textarea{
	width: 100%;
	height: 330px;
	padding-left: 10px;
	padding-top: 20px;
	color: #545454;
	font-size: 17px;
	font-weight: 600;
	resize: none;
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
}
.cnt-btn input[type=submit]{
	font-size: 16px;
	width: 495px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #CCB892;
	border: 2px solid #CCB892;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.cnt-btn input[type=submit]:hover{
	background: transparent;
	color: #CCB892;
}

.inputField input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #545454;
  opacity: 1;
}
.inputField input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #545454;
  opacity: 1;
}
.inputField input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #545454;
  opacity: 1;
}
.inputField input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #545454;
  opacity: 1;
}

.inputField textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #545454;
  opacity: 1;
}
.inputField textarea::-moz-placeholder { /* Firefox 19+ */
  color: #545454;
  opacity: 1;
}
.inputField textarea:-ms-input-placeholder { /* IE 10+ */
  color: #545454;
  opacity: 1;
}
.inputField textarea:-moz-placeholder { /* Firefox 18- */
  color: #545454;
  opacity: 1;
}





@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.rseh-title{
		font-size: 40px;
	}
	.requests-sec-lft {
	    width: 100%;
	    padding-right: 0px;
	    margin-bottom: 30px;
	}
	.requests-sec-rgt {
	    width: 100%;
	}
	.requests-sec-lft-inr,
	.requests-sec-form{
		max-width: 555px;
		width: 100%;
		margin: 0 auto;
	}
	.rsld-title {
	    font-size: 22px;
	    margin-bottom: 40px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.rseh-title {
	    font-size: 36px;
	    margin-bottom: 25px;
	}
	.rsld-title {
	    font-size: 20px;
	    margin-bottom: 30px;
	    line-height: 1.3;
	}
	.requests-sec-lft-des p {
	    line-height: 1.3;
	    margin-bottom: 30px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.requests-page-cntlr {
	    padding: 45px 0 35px;
	}
	.rseh-title {
	    font-size: 32px;
	}
	.rsld-title {
	    margin-bottom: 25px;
	}
	.requests-sec-lft-des p {
	    margin-bottom: 25px;
	}
	.cnt-btn input[type=submit]{
		max-width: 490px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.requests-sec-lft-des {
	    padding: 30px 22px 25px 20px;
	}
	.requests-sec-lft-des p {
		line-height: 1.2;
	    margin-bottom: 20px;
	}
	.cnt-btn input[type=submit] {
	    max-width: 390px;
	}

}

@media(max-width: 479px){
	.cnt-btn input[type=submit] {
	    max-width: 290px;
	}
	.requests-sec-form {
	    padding: 28px 20px 35px;
	}

}

@media(max-width: 359px){
	.cnt-btn input[type=submit] {
	    max-width: 250px;
	}
}